<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutpage</title>
</head>
<body>
    <h1>Mission</h1>
    <p>To quote https://24hoursoflemons.com/:
        “Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”</p>
    <h1>Vision</h1>
    <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing.
    </p>
    <h1>General Information</h1>
    <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your car must pass technical inspection before you can compete.</p>
</body>
</html>