<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NorCal Time Trial Series</title>
</head>
<body>
    <!-------this is the first division------->
    <div>
        <!-------this is the second division------->
        <div>
            <h1>NorCal Time Trial Series</h1>
            <nav>
              <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
            </nav>
        </div>
        <div>
            <img src="/assets/images/LOGO.png" alt="company logo" width="100" height="100">
            <img src="/assets/images/car3.png" alt="company logo" width="100" height="100">
        </div>
    <p>Please email us at: info@nctts.org</p>
    <p>We will reply as quickly as we can.</p>
    </div>
</body>
</html>